@charset "UTF-8";

progress {
  width: 100%;
  height:20px;
  border: 1px solid $headBg;
  background-color:#fff;
  color: $headBg; /*IE10*/
}

progress::-moz-progress-bar { background: $headBg; }
progress::-webkit-progress-bar { background: #fff; }
progress::-webkit-progress-value  { background: $headBg; }


